<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-search'}"/>

<div class="search-body">
	<h2>This is your AEM HTML Template Language component with a Multifield</h2>
    <div class="search-wrapper">
        <div class="input-holder">
        	Testing the Search Component
            <!--<input type="text" class="search-input" placeholder="Type to search" />
            <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>-->
        </div>
        <!--<span class="close" onclick="searchToggle(this, event);"></span>-->
    </div>
</div>