<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-myaem65training-navigation'}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <nav>
            <a href="#"> <img src="/content/dam/autoexpo/AdobeExperienceCloud_logo_01.png" alt=""/> </a>
            <div class="nav-links" id="navLinks">

            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
