<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    <h1>Please edit the Leadership Component ...</h1>
</sly>
<sly data-sly-test="${wcmmode.disabled || '' }">
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-userlisting'}" />
     <div class="my-divcontainer">
        <div class="fixed"><span class="filterheading"></span></div>
        <div class="flex-item"></div>
     </div>
    <div class="userlist-body" data-sly-use.object="com.myaem65training.core.cqcomponents.UserComponent"><br/>
        <div class="my-divcontainer">
        <h2 class="filterheading">Executive Leadership Team</h2>
           
            <div class="flex-item"><a class="user-create-link" href="#"> Request a Speaker</a></div>
         </div><br/><br/>
        <section class="user-list">
            <sly data-sly-repeat.keyName="${object.userdet}">
                <article class="user" data-sly-repeat="${keyName}">
                    <header class="user-header">
                        <img src="${object.userdet[keyName][itemList.index]}" />
                    </header>
                    <div class="user-details">
                        <div class="user-hrow-head"><span class="user-hrow-text"></span></div>
                        <h2><a id="${item}" href="#" onclick="fnCreatePage(this.id);">${item}</a></h2>
                    </div>
                </article>
            </sly>
        </section>
        <br/>
    </div>
</sly>