<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
    <h1>Please edit the Leadership Component ...</h1>
</sly>
<sly data-sly-test="${wcmmode.disabled || '' }">
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all @ categories='clientlib-userlisting'}" />
     <div class="my-divcontainer">
        <div class="fixed"><span class="filterheading"></span></div>
        <div class="flex-item"></div>
     </div>
    <div class="userlist-body" data-sly-use.object="com.myaem65training.core.cqcomponents.UserComponent"><br/>
        <div class="my-divcontainer">
        	<h2 class="filterheading">Executive Leadership Team</h2>           
            <div class="flex-item"><button id="btnCreateUser" class="user-create-link"> Request a Speaker</button></div>
         </div><br/><br/>
        <section class="user-list">
            <sly data-sly-repeat.keyName="${object.userdet}">
                <article class="user" data-sly-repeat="${keyName}">
                    <header class="user-header">
                        <img src="${object.userdet[keyName][itemList.index] !='empty' ? object.userdet[keyName][itemList.index] : '/content/dam/myaem65training/93.png'}" />
                    </header>
                    <div class="user-details">                    	
                        <div class="user-hrow-head"><span class="user-hrow-text"></span></div>
                        <h2><a class="myhref" data-user-id="${item}" id="user-${itemList.index}" href="#" onclick="fnOpenUserDetailedPage(this.id);">${item}<input type="hidden" id="user-id-${itemList.index}" value="${item}"/></a></h2>
                    </div>
                </article>
            </sly>
        </section>
        <br/>
    </div>
</sly>